*.log
tmp
.env
.DS_Store
.tern-port
build.zip

# terraform
.terraform

# javascript
.next
coverage
node_modules

# ctags
tags

# gcp / terraform
google-cloud-service-account.json
production.tfvars
beta.tfvars
create-gcp-sa.sh
